.daddy{
	display: flex;
	flex-wrap: wrap;
}

.child{
	height: 100px;
	width: 25%;
	margin: 10px;
	border: 1px solid black;
	border-radius: 20px;
	line-height: 98px;
	box-sizing: border-box;
	text-align: center;
	font: 25px / 98px sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: red;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


.topnav a:hover {
  background-color: purple;
  color: black;
}


.active {
  background-color: blue;
  color: white;
}


.child:nth-child(2n-1){
	background-image: linear-gradient(90deg, #f01162, #3629d2);
}
.child:nth-child(2n){
	background-image: linear-gradient(90deg, #3629d2,  #f01162 );
}
.btn+.menu{
	display: none;
}

@media (max-width: 598px) and (max-width: 798px){
	.child{
		width: calc(100% / 3 - 20px);
	}
}
@media (max-width: 358px) and (max-width: 597px)